/**
 * @name Basic Theme
 * @author gn027c
 * @authorId 914870154079391746
 * @version ersion made
 * @description Basic and basic
 * @source https://github.com/IshiiAinari/BasicThemeDiscord/tree/main
 * @website https://github.com/IshiiAinari
 * @invite BShu37e4jg
*/

@import url(https://ishiiainari.github.io/Discord-Basic-Theme/Basic.css);

:root {
    --spotify-color: 29, 185, 84;
    --battlenet-color: 0, 174, 255;
    --github-color: 255, 255, 255;
    --riotgames-color: 211, 41, 54;
    --leagueoflegends-color: 225, 146, 5;
    --steam-color: 0, 0, 255;
    --twitch-color: 100, 65, 164;
    --x-color: 0, 172, 238;
    --xbox-color: 0, 128, 0;
    --youtube-color: 255, 0, 0;
    --domain-color: 91, 111, 117;
    --paypal-color: 0, 112, 186;
    --tiktok-color: 255, 0, 80;
    --ebay-color: 229, 50, 56;
    --crunchyroll-color: 255, 230, 0;
    --playstation-color: 0, 55, 145;
    --epicgames-color: 0, 44, 119;
    --facebook-color: 66, 103, 178;
    --instagram-color: 195, 42, 163;
    --reddit-color: 255, 69, 0;
}

:root {
    /* Background */
    --accent-hue: 213;
    --accent-saturation: 35%;
    --accent-brightness: 8%;
    --background-image: url("https://www.hindustantimes.com/ht-img/img/2023/03/08/550x309/wandering_witch_1678296908224_1678296928870_1678296928870.jpg");
    --background-secondary: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-brightness), .6);

    /* Window */
    --window-padding: 8px;
    --window-radius: 8px;
    --window-margin-item: 4px;

    /* Welcome */
    --welcome-nofication-content: "Welcome aboard! Captain";
    --welcome-nofication-height: 30;
    --welcome-nofication-box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
    --welcome-nofication-background: rgba(39, 39, 39, 0.4);
    --welcome-nofication-border: 3px solid rgb(36, 33, 33);
    --welcome-nofication-border-radius: 7;
    --welcome-text-shadow-1: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);
    --welcome-text-shadow-2: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);

    /* Chat */
    --chat-time-unhover: 5s;

    /* Guild */
    --guild-hitbox-hover: 1; /* rate: 1-10 */
    --guild-time-unhover: 7s; /* time to close side guild when don't hover */
    
    /* Members */
    --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
    --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px);
    --member-width: 250px;
    --member-time-unhover: 5s;

    /* Friend */
    --friend-first-background-color: rgba(41, 42, 44, .5);
    --friend-secondary-background-color: rgba(41, 42, 44, .1);
    --friend-third-background-color: rgba(21, 21, 21, 0.8);
    --friend-border-color: rgba(255, 255, 255, 0.1);
    --friend-border-color-hover: rgba(255, 255, 255, 0.3);
    --friend-time-unhover: 5s; /* time to close side friend activity when don't hover */

    /* Scroller bar */
    --scroller-color: hsl(calc(var(--accent-hue) + 13) calc(var(--saturation-factor, 1)*20.7%) 29.4%);
    --scroller-hover-color: hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*15.5%) 32.4%);

    /* Connections */
    --conntections-border-radius: 16px; 
    --conntections-opacity: 0.1;
    --connections-shadow: inset 0 0 10px currentcolor
}

/* reduce lag */
/* * {
    animation: none!important;
    transition: none!important;
}
:root {
    background: none !important;
} */
